/* ---Header--- */

.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: verdana;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
}



/* ---Menu--- */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #898989;
}

/* ---Dropdown--- */


/* ---slider--- */



.slider {
}

.slide {
  overflow:hidden;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: gray;  
  
  font-family: Verdana, sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  font-size: 40px;
  
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}

/* ---featured slide--- */

.slide-feature {
  text-align: center;
  background-image: url('http://i.imgur.com/4rhO40b.jpg');
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
  position:relative;
}

p {
	font-family: verdana;
	font-size: 10px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "Economica", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}
